group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Fable.Remoting.Giraffe ~> 3
    nuget Microsoft.Azure.Management.Storage
    nuget Microsoft.Azure.Management.ResourceManager
    nuget Microsoft.Azure.Management.Fluent

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.React ~> 5
    nuget Fable.Remoting.Client ~> 5
    nuget Fulma ~> 2
    nuget Fable.FontAwesome.Free ~> 2
    nuget Fulma.Extensions.Wikiki.Checkradio
    nuget Fulma.Extensions.Wikiki.Divider

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
